﻿* {
    font-family: system-ui, "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif; /*verdana;*/
}
.am-header {
    background: #406192;
}
.trade-section {
    margin-top: 80px;
    /*background: #f0f5f8;*/ /*#e8e4e4*/
}

    /*.trade-section .form-group input {
            display: inline-block;
        }*/
    .trade-section .form-group label {
        min-width: 150px;
        display:block;
    }

.show_store_type > *, .show_group_name > * {
    display: none;
}

.show_store_type, .show_group_name {
    margin-left: 122px;
}

.search-form {
    border-left: 1px solid #e0dbdb;
}

.trade-section form {
    padding: 10px;
}

.trade-section .form-group {
    border-bottom: 1px solid #e0dbdb; /*#fff;*/
    padding: 15px 0;
}

#single_store select {
    display: inline-block;
}

.trade-section .form-control {
    display: inline-block;
}

.trade-section .modal-dialog .glyphicon-search {
    background: #ccc;
    padding: 9px;
    margin-top: -1px;
    margin-left: -37px;
}
/*.new-custom-group{
            display:none;
        }*/
.cg-btn {
    background: #43c6a8;
    padding: 6px;
    /*margin-left: 30px;*/
    font-size: 12px;
}

.edit-custom-pg, .delete-custom-pg {
    display: none;
}

.delete-custom-pg {
    background: #f45d5d;
    color: #fff;
}

.small-text {
    font-size: 11px;
    font-weight: normal;
    min-width: 155px;
    vertical-align: top;
    float: left;
}

.mt10 {
    margin-top: 10px;
}

.loading-spinner {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #474747;
    left: 0;
    top: 0;
    opacity: 0.5;
    z-index: 9;
}

.loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    z-index: 99;
}

.modal-icon-sec {
    display: none;
}

.modal-icon {
    top: 10%;
}

.add-new-products {
    display: none;
    background: #b7e3d0;
}

#new-custom-pg-items {
    display: inline;
    min-height: 80px;
    overflow: auto;
    float: left;
    width: 400px;
}

    #new-custom-pg-items p {
        float: left;
        background: #ccc;
        margin-right: 2px;
        padding: 2px;
        border-radius: 5px;
    }

        #new-custom-pg-items p span {
            float: left;
        }

.search-results {
    font-size: 12px;
}

    .search-results label {
        width: 180px;
        text-align: right;
    }

.table-sec {
    /*background: #b2cad5;*/
    padding: 10px;
    /*border: 1px solid #e0dbdb;*/
    font-size:13px;
}

a.store-selected {
    position: relative;
}

.show-list {
    position: absolute;
    left: 100px;
    top: 0;
    width: 300px;
    max-height: 250px;
    background: #fff;
    overflow: auto;
    display: none;
    z-index: 99;
}

    .show-list span {
        display: block;
        padding: 2px;
        border-bottom: 1px solid #ccc;
    }

td.details-control {
    background: url(https://datatables.net/examples/resources/details_open.png) no-repeat center center;
    cursor: pointer;
    width: 30px;
}

tr.shown td.details-control {
    background: url(https://datatables.net/examples/resources/details_close.png) no-repeat center center;
}


td div span {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

td div {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.action-icons span {
    margin: 0 8px;
    cursor: pointer;
    display:inline;
}

.active-row {
    background: #ccc;
}

.search-results-table thead {
    background: #51a5c9;
    color: #fff;
}

.no-view {
    display: none;
}

.duplicate-id-section {
    height: 160px;
    overflow: auto;
    float: left;
    width: 100%;
    border: 1px solid #b24e4e;
    margin: 5px 0;
    padding: 5px;
    display: none;
}

button.move-btn, button.move-all {
    float: right;
    border: none;
    background: #ccc;
    width: 90px;
}

.duplicate-id-section p {
    background: #b24e4e;
    margin: 0;
    padding: 5px 5px;
    color: #fff;
}

.duplicates-table {
    width: 100%;
    text-align: center;
}

    .duplicates-table th {
        text-align: center;
    }

.activeEditForm {
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 0 100px #000; /**7px 9px 13px*/
    z-index: 99;
    margin-bottom: 10px;
}

.bootstrap-growl.alert.alert-success {
    text-align: center;
}



.tooltip-sec {
    position: relative;
    display: inline-block;
}

    .tooltip-sec .tooltiptext {
        visibility: hidden;
        width: 310px;
        background-color: #d93131;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 98%;
    }

        .tooltip-sec .tooltiptext::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #d93131 transparent transparent;
        }

.error-field {
    border-color: #d93131 !important;
}


.no-edit{
    pointer-events:none;
}
.navbar-header a.navbar-brand {
    text-transform: uppercase;
    font-size: 22px;
    margin-left: 300px !important;
    color: #fff;
    font-weight: bold;
    margin-top: 15px;
    font-family: system-ui;
}

.navbar-header > div > span {
    margin-left: -35px;
}

@media (min-width: 1249px) {
    .navbar-header a.navbar-brand {
        margin-left: 120px !important;
    }
}

@media (min-width: 1349px) {
    .container {
        width: 1340px;
    }

    .search-results-table {
        font-size: 12px;
    }
    .navbar-header a.navbar-brand {
        margin-left: 320px !important;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1470px;
    }
}

@media (min-width: 1700px) {
    .container {
        width: 1670px;
    }
}



.dataTables_scrollHeadInner  thead{
    background: #51a5c9;
    color: #fff;
}

.dataTables_scrollBody table > tbody > tr:nth-child(odd) {
    background-color: #d8eaf7;
}

.dataTables_scrollBody table > tbody > tr:nth-child(even) {
    background-color: #eef6fb;
}

.dataTables_scrollHeadInner table{
    margin-bottom:0px;
}

.no-events {
    opacity: 0.5;
    /*pointer-events: none;*/
}


.search-results-table thead, .search-results-table thead tr, .search-results-table tbody, .search-results-table tbody tr {
    float:left;
    width:100%;
}
.search-results-table tbody{
    max-height:500px;
    overflow:overlay;
}
.search-results-table thead tr, .search-results-table tbody tr {
    display: flex;
}
    

    .search-results-table thead tr th:nth-child(1), .search-results-table tbody tr td:nth-child(1),
    .search-results-table thead tr th:nth-child(2), .search-results-table tbody tr td:nth-child(2),
    .search-results-table thead tr th:nth-child(3), .search-results-table tbody tr td:nth-child(3),
    .search-results-table thead tr th:nth-child(4), .search-results-table tbody tr td:nth-child(4),
    .search-results-table thead tr th:nth-child(5), .search-results-table tbody tr td:nth-child(5),
    .search-results-table thead tr th:nth-child(6), .search-results-table tbody tr td:nth-child(6),
    .search-results-table thead tr th:nth-child(7), .search-results-table tbody tr td:nth-child(7),
    .search-results-table thead tr th:nth-child(8), .search-results-table tbody tr td:nth-child(8) {
        width: 13% !important;
        float: left;
        word-break: break-word;
        padding: 4px 0px;
        text-align: center;
    }
    .search-results-table thead tr th:nth-child(2), .search-results-table tbody tr td:nth-child(2) {
        width: 19% !important;
    }
    .search-results-table thead tr th:nth-child(4), .search-results-table tbody tr td:nth-child(4) {
        width: 14% !important;
    }
    .search-results-table thead tr th:nth-child(3), .search-results-table tbody tr td:nth-child(3) {
        width: 11% !important;
    }
    .search-results-table thead tr th:nth-child(6), .search-results-table tbody tr td:nth-child(6) {
        width: 9% !important;
    }
    .search-results-table thead tr th:nth-child(8), .search-results-table tbody tr td:nth-child(8) {
        width: 8% !important;
    }
    .promo-price {
        color: #c93c16;
        font-style: italic;
    }


.ta-form {
    background-color: #94cfe6;

}

    .col-md-8.table-sec * :not(.glyphicon), .ta-form *:not(.glyphicon) {
        font-family: system-ui !important;
    }
.ui-datepicker-month{
    color:#000 !important;
}

.action-link {
    float: right;
    padding: 5px;
    border: 1px solid #fff;
    margin-top: 25px;
    background: #fff;
    text-transform: uppercase;
    font-size: 12px;
    color: #0e5b9e;
    font-weight: bold;
    margin-right: 0px;
    font-family: system-ui !important;
}
.navbar-header{
    width:100%;
}

.inactiveDate{
    visibility:hidden;
}