﻿@{
    ViewBag.Title = "Home Page";
    string @UserRole = @Session["UserRole"] == null? "none": @Session["UserRole"].ToString();
}
<input type="hidden" value="@UserRole" id="UserRole" />
@if (@UserRole == "none")
{
    <div class="COL-MD-12" style="text-align:center;color:#F00;"><h1>YOU DO NOT HAVE ACCESS TO THE PORTAL</h1></div>

}
else
{


    <div class="loading-bar-section">
        <div class="loading-spinner">
        </div>
        <img src="~/Content/images/spinner.gif" class="loading-icon"/>
    </div>


    <div class="row trade-section">

        <div class="col-md-12" style="padding:0">
            @if (@UserRole == "admin")
            {
                <div class="col-md-4 ta-form">
                    <form style="font-size:12px">
                        <div id="few_stores" class="ams_stores form-group">
                            <label>Store Name:</label>
                            <select class="form-control" multiple="multiple"></select>
                        </div>
                        <div class="form-group">
                            <label for="product">Go Live Date:</label>
                            <input type="text" class="form-control" id="goLive_date" placeholder="DD/MM/YYYY">
                        </div>

                        <div class="form-group inactiveDate">
                            <label for="product">Inactive Date:</label>
                            <input type="text" class="form-control" id="Inactive_date" placeholder="DD/MM/YYYY">
                        </div>





                        <button type="submit" class="btn btn-primary" id="save_td">Submit</button>
                        <button type="button" class="btn btn-default" id="clear_td">Clear</button>
                    </form>
                </div>
            }
                <div class="col-md-8 table-sec">
                    <table class="table table-bordered priority-table">
                        <thead>
                            <tr>
                                <th>Branch ID</th>
                                <th>Store Name</th>
                                <th>Go Live Date</th>
                                <th>Inactive Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>


                </div>
            </div>
    
        
    </div>
}