﻿@{ 
    string appDomain = @System.Configuration.ConfigurationManager.AppSettings["TA_UserType"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Agreements  - Store Go Live Dates</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top am-header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/images/CWH_logo_2.png" style="height:70px;width: 150px;margin-top: 5px;margin-bottom:5px;float: left;margin-right: 50px;position:relative;top:20px;" />
                @Html.ActionLink("Trade Agreements - Store Go Live Dates Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <a href="@System.Configuration.ConfigurationManager.AppSettings["TAPortal_Url"]" class="action-link">go to TA Rules Portal</a>

                <div style="text-align:center;width:100%;float:left;margin-bottom:10px">

                    @if (@appDomain == "tTradeAgreementUsers")
                    {
                        <span style="height:40px;width:150px;background-color:yellow;font-size:20px;display:inline-block;font-weight:bold;line-height:35px;margin-top:-15px;">
                            TEST
                        </span>
                    }
                    else
                    {
                        <span style="height:40px;width:150px;background-color:yellow;font-size:20px;display:inline-block;font-weight:bold;line-height:35px;margin-top:-15px;">
                            PRODUCTION
                        </span>
                    }


                </div>
            </div>
           
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false);
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link href="~/Content/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery-ui-custom.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-growl.js"></script>

    <script type="text/javascript" src="~/Scripts/tradeScript.js"></script>
</body>
</html>
